/*  وَقُلْ رَبِّ زِدْنِي عِلْمًا */
/*  صلي على رسول الله   */
/*  اللهم صلي وسلم وبارك على سيدنا نبينا محمد */
/* ///////////////////////////////////////////////////////// */
/* 1_ COMMON STYLES
   2_ GENERAL STYLES
   3_ SECTIONS 
     3.0 HEADER SECTION
     3.1 HOME SECTION 
     3.2 PRICING TABLE SECTION
/*  ////////////////////////////////////////////////// GENERAL STYLES \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
                                                 /*  صلي على النبي  */
body {
    background-color: black;
    font-family: 'varela round' , sans-serif;
  
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width:80%;
    margin: auto;
}
/*  ////////////////////////////////////////////////// SIMILARITY OF NAMES \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
                                                   /*  صلي على النبي  */     
a {
    text-decoration: none;
}
.section-header {
        text-align: center;   
}
.section-header .section-title{
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 9px;
    margin-top: 6px;
    color: #0dc50d;
     }
.section-header .line{
    position: absolute;
    width: 150px;
    height: 2px;
    background-color: #fff;
    margin: 0  -70px;
    transition: all .5s;
}
/*  ////////////////////////////////////////////////// SECTIONS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
                                                 /*  صلي على النبي  */

/*  ////////////////////////////////////////////////// HEADER SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
                                                 /*  صلي على النبي  */
.header-section {
    position: relative;
}                   
.logo {
    margin-left: 60px;
}
.nav {
    list-style: none;
    position: absolute;
    z-index: 1;
    margin: -100px 260px;
    cursor: pointer;
}
.nav li {
    color: white;
    display:inline-block ;
    font-size: xx-large;
    font-family: s;
    margin-left: 20px;
}
.nav li:hover {
    color: #0dc50d;
}
.nav .red:hover {
    color: red;
}
.btn1 {
    display: inline;
    margin-left: 990px;
    margin-top: -115px;
    border-radius: 4px;
    background-color: rgb(220, 220, 220);
    border: 3px solid #0dc50d;
    border-radius: 40px;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 18px;
    width: 235px;
    transition: all 0.5s;
    cursor: pointer;
    position: absolute;
    z-index: 3;

}
  
.btn1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.btn1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.btn1:hover span {
    padding-right: 25px;
}
  
.btn1:hover span:after {
    opacity: 1;
    right: 0;
}
.btn2 {
    position: absolute;
    z-index: 5;
    margin-left: 1250px;
    margin-top: -112px;
    background-color: black;
    border: 3px solid #0dc50d;
    border-radius: 40px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 28px;
    padding: 18px;
    width: 235px;
    text-decoration: none;
    display: inline;
    transition-duration: 0.4s;
    cursor: pointer;
    transition: all .5s;
}
.btn2:hover {
    background-color: #fff;
    color: black;
    border: 3px solid #0dc50d;
    border-radius: 40px;
}
/*  ////////////////////////////////////////////////// HOME SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
                                                 /*  صلي على النبي  */
.home {
    position: relative;
}
.samsung {
    margin: -10px 900px;
}
.head-home {
    display: inline;
    text-transform: capitalize;
    position: absolute;
    z-index: 1;
    color: #fff;
    margin: 90px 150px;
    font-size: 35px;
}
.span-home {
    position: absolute;
    color: #fff;
    margin: 140px 150px;
    text-transform: capitalize;
}
.btn-home {
    position: absolute;
    margin-top: 180px;
    margin-left: 150px;
    background-color: black;
    border: 3px solid #0dc50d;
    border-radius: 40px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 15px;
    padding: 18px;
    width: 120px;
    text-decoration: none;
    display: inline;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 1px 1px 30px 1px #0dc50d  ;
    transition: all .5s;
}
.btn-home:hover {
    background-color: rgb(197, 196, 196);
    width: 150px;
    color: black;
}

/*  ////////////////////////////////////////////////// SAMSUNG SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
                                                 /*  صلي على النبي  */
iframe {
    margin: 50px 300px;
}
/*  ////////////////////////////////////////////////// ABOUT SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
                                                 /*  صلي على النبي  */
.about-img {
    margin: -120px 280px;
}
/*  ////////////////////////////////////////////////// PRICING SECTION \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
                                                 /*  صلي على النبي  */
.product-img1 {
 
    padding: 15px;
}   
.product-img2 {
   
    padding: 15px;
}
.product-img3 {

    padding: 15px;
}
.products-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 170px;
}
.product-img1{
    position: relative;
}
.product-img2{
    position: relative;
   }
.product-img3{
    position: relative;
   }
.product-img4{
    position: relative;
   }
.product-img5{
    position: relative;
   }
.product-img6{
    position: relative;
   }
   
.product-overlay{
    position: absolute;
    top: 0;
    left: 0;
    transform:scalex(0);
    opacity: 0.9;
    transition: transform 0.2s;
}
.product-overlay ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.product-overlay ul li{
    width: 40px;
    height: 40px;
    background-color: var(--maincolor);
    display: inline-block;
    text-align: center;
}
.product-overlay ul li i{
    color: #fff;
    line-height: 40px;
}
.product-item:hover .product-overlay{
    transform: scalex(1);
    padding: 15px;
}
.product-item i.active{
    color: yellow;
}
.product-info span{
    display: block;
    margin: 5px 0;
}
.product-info i{
    margin-top: 10px;
}
.product {
    color: #ffff;
}
.product-item button {
	background-color: #0dc50d;
	text-decoration: none;
    color: white;
	border: 2px solid transparent;
	padding: 13px 30px;
	border-radius: 40px;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 50px;
}
.product-item button{
	border: 2px solid #0dc50d;
	cursor: pointer;
}
.list li {
    border: 1px solid #0dc50d;
    color: white;
    border-radius: 25px;
    padding: 13px 30px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    background-color: #0dc50d;
    list-style: none;
    width: 250px;
    margin-left: -46px;
}
.list li:hover {
    cursor: pointer;
}
 .list .koko {
    margin-left: 6px;
}

#content {
    width: 280px;
    height: 230px;
    color: #fff;
    border: 2px solid #0dc50d;
    margin: -40px  270px;
}
.mom {
    color: gray;
    margin-left: 220px;
    margin-top: -60px;
    position: absolute;
}
#addToCart {
    margin: -120px 640px;
    background-color: #0dc50d;
    color: #fff;
    border: 2px solid #0dc50d;
    border-radius: 25px;
    width: 250px;
    font-size: large;
    transition: all .5s;
}
#addToCart:hover {
    box-shadow: 1px 1px 30px 1px #0dc50d  ;
   
}
.show{
    width: 250px;
    height: 200px;
    margin: 80px 1100px;
    color: #fff;
    font-size:35px;
    text-shadow:2px 2px 40px #0dc50d;
}
.footer {
    margin-top: -120px;
    position: relative;
}
.footer-head {
    text-align: center;
    color: #0dc50d;
}